@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);

* {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    -webkit-box-sizing:inherit;
    box-sizing:inherit
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: black;
}

body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("pexels-s-migaj-747964.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 1920px;
    filter: blur(2px);
    z-index: -9;
    margin-top: -40px
}

.first-child{
    margin-top: 0;
}

.last-child{
    margin-bottom: 0;
}
.center.aligned.header {
    text-align: center;
    font-size: 100px!important;
}

.todo-list {
    background:#fff;
    opacity: 80%;
    position:relative;
    background:#fff;
    -webkit-box-shadow:0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow:0 1px 2px 0 rgba(34,36,38,.15);
    margin:1rem 0;
    padding:1em 1em;
    border-radius:.28571429rem;
    border:1px solid rgba(34,36,38,.15);
    display:block;
    -webkit-box-flex:0;
    -ms-flex:0 1 auto;
    flex:0 1 auto;
    margin-left: 10%;
    width:20%;
}

.buttons {
    display: block;
    margin-left:-20px;
    margin-right: auto;
    width: 100%;
    cursor:pointer;
    display:inline-block;
    min-height:1em;
    outline:0;
    border:none;
    vertical-align:baseline;
    background:none;
    color:rgba(0,0,0,.6);
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding:1.5em 1.5em 1.5em;
    text-transform:none;
    text-shadow:none;
    font-weight:700;
    line-height:1em;
    font-style:normal;
    text-align:center;
    text-decoration:none;
    border-radius:.28571429rem;
    -webkit-box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
    will-change:'';
    -webkit-tap-highlight-color:transparent;
    font-size:1rem
}

.ui.black.button{
    background-color: black;
    color:white;
    box-shadow:0 0 0 0 rgba(34,36,38,.15) inset;
    padding:.78571429em 1.5em .78571429em;
    border-radius:.28571429rem;
    margin:0 .25em 0 0;
    font-weight:700;
    line-height:1em;
    text-decoration: none;
    margin-top: 100px;
}

.ui.blue.button{
    background-color:#2185d0;
    color:#fff;
    text-shadow:none;
    background-image:none;
    padding:.78571429em 1.5em .78571429em;
    border-radius:.28571429rem;
    margin:0 .25em 0 0;
    font-weight:700;
    line-height:1em;
    text-decoration: none;
}

.ui.red.button{
    background-color: red;
    color:#fff;
    text-shadow:none;
    background-image:none;
    padding:.78571429em 1.5em .78571429em;
    border-radius:.28571429rem;
    margin:0 .25em 0 0;
    font-weight:700;
    line-height:1em;
    text-decoration: none;
}

.todo-button{
    margin-left:30%
}
.header{
    font-size: 20px!important;
    font-weight: 700;
}
.ui.big.header {
    font-size: 30px!important;
    text-align: center;
}

.todo-list .ui.segment{
    opacity: 80%;
    position:relative;
    background:#fff;
    -webkit-box-shadow:0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow:0 1px 2px 0 rgba(34,36,38,.15);
    margin:1rem 0;
    padding:1em 1em;
    border-radius:.28571429rem;
    border:1px solid rgba(34,36,38,.15);
    display:block;
    -webkit-box-flex:0;
    -ms-flex:0 1 auto;
    flex:0 1 auto;
}

.ui.segment.first-child{
    margin-top:0;
}

.ui.segment.last-child{
    margin-bottom: 0;
}

.ui.form {
    position:relative;
    max-width:100%
}

.ui.form>p{
    margin:1em 0
}

.ui.form .field{
    clear:both;
    margin:0 0 1em
}

.ui.form .field>label{
    display:block;
    margin:0 0 .28571429rem 0;
    color:rgba(0,0,0,.87);
    font-size:.92857143em;
    font-weight:700;
    text-transform:none}


.ui.form input:not([type]),.ui.form input[type=date],.ui.form input[type=datetime-local],.ui.form input[type=email],.ui.form input[type=file],.ui.form input[type=number],.ui.form input[type=password],.ui.form input[type=search],.ui.form input[type=tel],.ui.form input[type=text],.ui.form input[type=time],.ui.form input[type=url],.ui.form textarea{
    width:100%;
    vertical-align:top
}

.tick{
    color: green;
}