<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width",
    initial-scale="1.0">
    <title>Calendar</title>
    <link rel="stylesheet 1" href="{{ url_for('static', filename='calendar.css') }}">
    <link rel="stylesheet 2" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
</head>
<body>
    <a class="back" href="{{ url_for('home') }}">Back</a>
    <div id="calendar"></div>
    <script>
        let calendarEL = document.getElementById('calendar');

        let calendar = new FullCalendar.Calendar(calendarEL, {
            height: 900,
            events : [
                {% for event in events %}
                {
                    title : '{{event.todo}}',
                    start : '{{event.deadline}}',
                },
                {% endfor %}
            ]
        });

        calendar.render();
    </script>
</body>
</html>