<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLife App</title>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet 2" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
</head>

<body>
    <div class="bgimage">
    </div>
    <h1 class="center aligned header">MyLife</h1>
    <div style="width:100%; overflow:hidden;" class="upper-div">
        <div style="margin-top: 79px;width:25%; float:left;" class="ui-container" id="todo-box">
            <div class="todo-list">
                <p class="ui big header">To-do List</p>
                <p class="ui header">Ongoing</p>
                <div class="ui segment" id="home">
                    {% for todo in todo_list %}
                    {% if todo.complete == False %}
                    <p class="header">{{ todo.title }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                <p class="ui header">Completed</p>
                <div class="ui segment" id="home">
                    {% for todo in todo_list %}
                    {%if todo.complete == True %}
                    <p class="header">{{ todo.title }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="todo-button">
                    <a class="ui black button" href="{{ url_for('todo') }}">Edit To-do List</a>
                </div>
            </div>
        </div>
        <div style="margin-left:500px; margin-right:10px;" id="calendar">
            <a class="ui black button" id="calendar-button" href="{{ url_for('my_calendar') }}">Edit Calendar</a>
            <script>
                let calendarEL = document.getElementById('calendar');

                let calendar = new FullCalendar.Calendar(calendarEL, {
                    height: 1000,
                    events: [
                        {% for event in events %}
                        {
                        title: '{{event.todo}}',
                        start: '{{event.deadline}}',
                    },
                    {% endfor %}
                    ]
                });

                calendar.render();
            </script>
        </div>
    </div>
</body>

</html>